.select{
 border-color: var(--gray20);
 padding-inline: .75rem;
 padding-block:.5rem;
 padding-inline-end: 2rem;
 border-radius: 4px;
 font: var(--button-button);
 appearance: none;
 background-image:url('../icons/Icon=chevron-down.svg');
 background-repeat:no-repeat;
 background-position:right .5rem center;
}