.inputHeader {
  border: none;
  background-color: var(--gray20);
  inline-size: 10.5rem;
  block-size: 2.5rem;
  font: var(--body1-regular);
  background-image: url('../icons/Icon=users.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-inline-start: 1.5rem;
  margin-block: 1.5rem;
}

.myCalendars {
  font: var(--body1-regular);
  inline-size: 10rem;
  color: var(--gray50);
}

.is-title {
  justify-content: space-between;
  align-items: center;
}


.calendarContent {
  display: flex;
  align-items: center;
  padding-block: .15rem;
}

.calendarContent i {
  padding-inline: 4px;
}