@import './task.css';
@import './taskCell.css';
@import './calendar-day.css';
@import './timezoneCell.css';
@import './hourCell.css';
@import './currentTime.css';

.calendar{
  color: var(--gray20);
  --minBlockSize:4rem;
  --maxBlockSize:auto;
  --minInlineSize:5rem;
  --maxInlineSize:1fr;
  --minBlockSizeDay:4rem;
  --maxBlockSizeDay:auto;
  --minInlineSizeDay:30rem;
  --maxInlineSizeDay:70rem;
    padding-inline: 1.5rem;
    position: relative;
}

.calendar-week{
  display: grid;
  grid-template-columns: auto repeat(7, minmax(var(--minInlineSize), var(--maxInlineSize)));
  grid-template-rows: 7rem repeat(24, minmax(var(--minBlockSize), var(--maxBlockSize)));
  min-block-size: 700px;
}


.calendar-day{
  display: grid;
  grid-template-columns:5% repeat(1, minmax(var(--minInlineSizeDay), var(--maxInlineSizeDay)));
  grid-template-rows:9rem repeat(25, minmax(var(--minBlockSizeDay), var(--maxBlockSizeDay)));
  min-block-size:700px;
}

.calendar-day h2{
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}
